<h1>Enter a Twitter username</h1>

<form action="/tweets/:username" method="post">
  <input type="text" name="new_username" autofocus>
  <button>Get tweets!</button>
</form>


<h3>Name: <%= @name %></h3>
<h3>Twitter Name: @<%= @twitter_name %></h3>
<h3>Location: <%= @location %></h3>
<h3>Description: <%= @description %></h3>
<h3>Number of Followers: <%= @followers %></h3>
<h3>Number of Twitter Users <%=  @name %> is Following: <%= @following %></h3>
<h3>Website: <a href="<% @website %>"><%= @website %></a></h3>

<%# The following 3 lines will output the text from each tweet from a user%>
<% @my_tweets.each do |tweet| %>
  <ul>
    <li><a href="https://twitter.com/<%= @username %>/status/<%= tweet[:id] %>"><%= tweet[:text] %></a></li>
  </ul>
<% end %>

